<mapper namespace="User">

    <select id="selectOne" paramterType="com.lagou.pojo.User"
            resultType="com.lagou.pojo.User">
        select * from user where id = #{id} and name =#{name}
    </select>

    <select id="selectList" resultType="com.lagou.pojo.User">
        select * from user
    </select>

</mapper>